@model DFT_MVC.Data.ImageData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImageData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullscreenContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullscreenContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailBigContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailBigContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailSmallContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailSmallContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategoria.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
