@using DFT_MVC.Data
@model DFT_MVC.Services.DisplayFromDBService

@{
	ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="css/site.css">
<link rel="stylesheet" href="css/alertMsg.css">


<h1>Index</h1>

@if (TempData["ResultMessage"] != null)
{
	var delete = "#D0342C"; // czerwony
	var create = "#53D02C"; // zielony
	var update = "#2C82D0"; // niebieski
	var color = string.Empty;

	foreach (var alert in TempData["ResultMessage"] as IEnumerable<string>)
	{
		if (alert.EndsWith("1"))
		{
			color = create;
		}
		else if (alert.EndsWith("2"))
		{
			color = update;
		}
		else if (alert.EndsWith("3"))
		{
			color = delete;
		}
	}

	<div class="alert">
		<style>
			.alert {
				background-color: @color; /* green */
			}
		</style>
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		@foreach (var item in TempData["ResultMessage"] as IEnumerable<string>)
		{
			<a>@item.Remove(item.Length - 1)</a>
		}
	</div>
}

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Nazwa</th>
			<th>Zdjęcie</th>
			<th>Data utworzenia</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Display)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Key.Name)
				</td>
				<td>
					@if (item.Key.Id == item.Value.KategoriaId)
					{
						<img src="/Images/ThumbnailSmall/@item.Value.Id">
					} 
					else
					{
						<img src="">
					}

@*					@foreach (var image in Model.Images)
					{
						if (image.KategoriaId == item.Id)
						{
							<img src="/Images/ThumbnailSmall/@image.Id">
						}
					}*@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Key.CreationDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Key.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Key.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Key.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
