@using DFT_MVC.Data
@model IEnumerable<Category>

@{
	ViewData["Title"] = "Index";
	var alertList = TempData["ResultMessage"] as IEnumerable<string>;
}
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/alertMsg.css">
<link rel="stylesheet" href="~/css/w3.css">



<h1>Lista Kategorii</h1>

@if (alertList != null)
{
	var delete = "#D0342C"; // czerwony
	var create = "#53D02C"; // zielony
	var update = "#2C82D0"; // niebieski
	var color = string.Empty;

	foreach (var alert in alertList!)
	{
		if (alert.EndsWith("1"))
		{
			color = create;
		}
		else if (alert.EndsWith("2"))
		{
			color = update;
		}
		else if (alert.EndsWith("3"))
		{
			color = delete;
		}
	}

	<div class="alert">
		<style>
			.alert {
				background-color: @color; /* green */
			}
		</style>
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		@foreach (var item in alertList!)
		{
			<a>@item.Remove(item.Length - 1)</a>
		}
	</div>
}

<p class="container">
	<div class="align-left">
		<a class="btn btn-success" asp-action="Create">Dodaj Kategorię</a>
	</div>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Nazwa</th>
			<th class="centerAligment">Zdjęcie</th>
			<th class="centerAligment">Liczba podkategorii</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-controller="Subcategories" asp-action="Index" asp-route-id="@item.Id">
						@Html.DisplayFor(modelItem => item.Name)
					</a>
				</td>
				<td align="center">
					<div>
						@if (item.ImageOriginal != null)
						{
							<img class="w3-round-large listImage" src="/Categories/ImageSmall/@item.Id">

						}
						else
						{
							<img class="w3-round-large listImage" src="/images/no_image.png">
						}

					</div>
				</td>
				<td align="center">
					@item.Subcategories.Count
				</td>
				<td align="right">
					<a class="btn btn-primary btn-standard" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
					<a class="btn btn-info btn-standard" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
					<a class="btn btn-danger btn-standard" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
				</td>
			</tr>
		}
	</tbody>
</table>
